:root {
    --current-bg-color: #9cccff;
    --target-bg-color: #9cccff;
}

h1, h2{
    text-align: center;
}

.listElement{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.listElementPart{
    padding-top: 20px;
    padding-left: 20px;
}

.containerDiv{
    display:flex;
    justify-content: space-evenly;
}

.subContainerLeft{
    display:flex;
    justify-content: center;
    width: 50%;
}

.subContainerRight{
    display:flex;
    justify-content: center;
    width: 50%;
}

.listPanel{
    border-radius: 25px;
    background: var(--current-bg-color);
    padding: 20px;
}

.infoPanel{
    position:fixed;
    border-radius: 25px;
    background: #9cccff;
}

.infoDiv{
    padding:25px;
}

@keyframes fadeIn {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

.description-buttoncontainer{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}

.description-list{
    max-width: 500px;
}

img {
    border-radius: 10px;
}



